@use './partials/variables' as *;
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

@import 'bootstrap/scss/bootstrap.scss';

body{
    background-color: $bg-color;
    color: white;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-thumb {
    background-color: $bg-cards;
    outline: 1px solid $bg-cards;
    border-radius: 10px;
}